# Build directories
build/
build_*/
build-*/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl

# Bazel
bazel-*

# Coverage
*.gcda
*.gcno
*.profraw
*.profdata
coverage.info
coverage.raw.info
coverage_html/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Python
__pycache__/
*.pyc
.mypy_cache/

.lintbin/
